In [1]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
# Keras
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from tensorflow.keras.datasets import mnist
# Sklearn scaling
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [6]:
cols = ['fileName','imageData','fruitName']

masterdf = pd.DataFrame(columns=cols)

In [11]:
parentDirectory = 'data'
i=0

for subdir, dirs, files in os.walk(parentDirectory):
    for file in files:
        fileName= file[:-4]
        imageData = []
        subdirName = subdir[5:]
        masterdf.loc[i] = [fileName, imageData, subdirName]
        i+=1
        if i%1000 == 0:
            print(i)

masterdf

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000

       fileName imageData       fruitName
0         0_100        []  Apple Braeburn
1       100_100        []  Apple Braeburn
2       101_100        []  Apple Braeburn
3       102_100        []  Apple Braeburn
4       103_100        []  Apple Braeburn
...         ...       ...             ...
67687   r_6_100        []      Watermelon
67688   r_7_100        []      Watermelon
67689  r_81_100        []      Watermelon
67690   r_8_100        []      Watermelon
67691   r_9_100        []      Watermelon

[67692 rows x 3 columns]

In [12]:
X = masterdf[['imageData']]
y = masterdf[['fruitName']]
y

            fruitName
0      Apple Braeburn
1      Apple Braeburn
2      Apple Braeburn
3      Apple Braeburn
4      Apple Braeburn
...               ...
67687      Watermelon
67688      Watermelon
67689      Watermelon
67690      Watermelon
67691      Watermelon

[67692 rows x 1 columns]

# One Hot Encoding

In [13]:
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

one_hot_y = to_categorical(encoded_y)
one_hot_y

C:\Users\apounds\AppData\Local\Continuum\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)